/* desbest edit */


@media screen and (max-width: 480px){

  .desktop { display: none; } .mobile { display: block; }

  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  li, dd { margin: 1.15em 0px !important; }
  #config__manager tr { display: block; }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 100%;  }
  #config__manager fieldset {  margin: 1em 0px;  }
  #config__manager fieldset td.value { width: unset; }

  	/* make <select> not exceed it's parent div's width */
  	/* https://stackoverflow.com/q/44810056/337306 */
  	div.input { display: flex; } select { width: 100%; flex-shrink: 1; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  input, textarea,
  #config__manager td input.edit,
  #config__manager td textarea.edit { 
    max-width: 100%; 
    width: auto;
  }

  #config__manager td textarea.edit { width: 100% !important; }
  /* ravel specific */
  nav.menu li { margin: 0.85em 0px !important }
  .entry-content {  padding: 0px 1.15em; }
  button { margin: 3px 8px; }
  /* */
  
}


	@media (max-width: 600px) {
			.entry.error .entry-title { font-size: 72px; }
		}

			@media (max-width: 564px) {
		.page-template-intro .col,
		.page-template-intro .col {
			width: 100%;
		}
		
		.page-template-intro .thumbnail.hero-image {
			height: auto;
			width: auto;
		}
	}/* end @media max-width 564 */
 

 		@media (max-width: 768px) {.loop-entries-gallery li {width: 40%;}}
		@media (max-width: 600px) {.loop-entries-gallery li {width: auto;}}


		@media (max-width: 910px) {
	.singular-portfolio_item .featured-media,
	.singular-portfolio_item .entry {
		width: 46%;
	}
}/* end @media max-width 910 */

@media (max-width: 728px) {
	.singular-portfolio_item .featured-media,
	.singular-portfolio_item .entry {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
}/* end @media max-width 728 */

						
/* === Responsive Menu === */
@media only screen and (max-width: 782px) {

	nav#menu-primary {
		margin: 0;
		padding: 0;
		text-align: left;
	}
		
		/* menu toggle */
		.menu-toggle {
			cursor: pointer;
			display: block;
			font-size: 0;
			line-height: 0;
			margin: 5px auto 15px;
			padding: 0;
			text-align: center;
		}

			/* menu toggle icon */
			.menu-toggle::before {
				color: #e3f4ff;
				content: '\f0c9';
				font-size: 28px;
				line-height: 36px;
				text-shadow: 2px 2px 0 rgba(0,0,0,.2);
			}
			.menu-toggle.active::before {
				content: '\f057';
			}

				.menu-toggle-link:hover::before {color: #fff;}

		nav#menu-primary .wrap {
			clear: both;
			display: none;
			margin-bottom: 12px;
			float: left;
			width: 100%;
		}
		
			/* Menu structure */

			nav#menu-primary ul ul {
				background: transparent;
				left: auto;
				min-width: 0;
				opacity: 1;
				position: static;
				top: auto;
				visibility: visible;
			}
				nav#menu-primary li > ul::before {display: none;}
				
				nav#menu-primary ul ul ul {
					left: auto;
					margin: 0;
					top: auto;
				}
					nav#menu-primary li li > ul::before {display: none;}

				nav#menu-primary li li:hover > ul {
					margin: 0;
				}
					
			/* Menu content */
			
			nav#menu-primary li {
				width: 100%;
				word-spacing: 0;
			}
			
				/* links */
				nav#menu-primary li a,
					nav#menu-primary li li a {
					background: #101619;
					border: 0;
					border-bottom: 1px solid #1d2529;
					font-size: 17px;
					font-weight: 400;
					line-height: 24px;
					text-transform: none;
				}
					nav.menu li > a::after {
						content: '';
						margin: 0;
					}

				/* link hovers */
				nav#menu-primary li a:hover,
					nav#menu-primary li li a:hover  {
					background: #000;
				}
					nav.menu li li > a::after,
					.rtl nav.menu li li > a::after { content: ''; }
						
					/* === lower level links === */

					nav#menu-primary li li a {
						padding-left: 35px;
					}

						nav.menu li li a::before {
							color: rgba(255,255,255,.5);
							content: '\f10c';
							font-size: 9px;
							line-height: 24px;
							margin-right: 15px;
							vertical-align: top;
							}

						nav#menu-primary li li li a {padding-left: 75px; }

							nav#menu-primary li li li li a {padding-left: 115px;}
							
				/* current links */
				nav#menu-primary li.current-menu-item > a,
					nav#menu-primary li li.current-menu-item > a {
						color: #a0cfec;
						}
					
} /* end @media max-width 782 */

/* === Responsive Menu Reset === */
@media only screen and (min-width: 783px) {

		.menu > .wrap { display: block !important; }
	
} /* end @media min-width 783 */

			
	@media (max-width: 1199px) {
		.entry-title {
			padding-left: 0;
			padding-right: 0;
			text-align: left;
		}
	}


							
				@media (max-width: 999px) {
					.comment-list li li .comment-wrap,
					.comment-list li li li .comment-wrap,
					.comment-list li li li li .comment-wrap,
					.comment-list li li li li li .comment-wrap,
					.comment-list li li li li li li .comment-wrap{margin-left: 0;}	
				}
				

/* === Responsive Sidebar === */
		@media (max-width: 1199px) {
			
			#sidebar-primary {
				background: #2d3a42;
				box-shadow: 0 0 10px rgba(0,0,0,.5);
				margin-left: -336px;
				overflow-y: scroll;
				padding: 84px 24px 24px;
				position: fixed;
					bottom: 0;
					left: 0;
					top: 0;
				transition: all 0.4s ease-in-out;
					-webkit-transition: all 0.4s ease-in-out;
					-ms-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4s ease-in-out;
					-o-transition: all 0.4s ease-in-out;
				width: 336px;
				z-index: 99999;
			}

			#sidebar-primary.active {
				margin-left: 0;
				}

				/* sidebar-toggle */
				.sidebar-toggle {
					cursor: pointer;
					display: block;
					height: 36px;
					margin: 24px;
					position: fixed;
						left: 0;
						top: 0;
					text-align: center;
					width: 36px;
					z-index: 99;
					}

					/* sidebar toggle icon */
					.sidebar-toggle::before {
						color: #fff;
						content: '\f054';
						font-size: 18px;
						line-height: 36px;
						min-width: 36px;
					}
					
					.sidebar-toggle:hover::before {
						margin-left: 8px;
					}
					
					/* sidebar toggle active icon */
					.sidebar-toggle.active::before {
						content: '\f053';
						margin-left: -3px;
						}
					
					.sidebar-toggle.active:hover::before {
						margin-left: -11px;
					}
					
					/* sidebar icon background */
					.sidebar-toggle::after {
						background: #f74037;
						box-shadow: 6px 0 0 rgba(0,0,0,.2);
						content: '';
						position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							top: 0;
						transform: rotate(45deg);
							-webkit-transform: rotate(45deg);
							-moz-transform: rotate(45deg);
							-ms-transform: rotate(45deg);
							-o-transform: rotate(45deg);
						z-index: -1;
					}
					
			/* === Sidebar relative to WP admin bar === */

			.admin-bar #sidebar-primary,
			.admin-bar .sidebar-toggle {
				top: 32px;
			}


		}

		/* === Responsive Sidebar: Adjustment to 2nd version of WP admin bar === */
		@media (max-width: 782px) {
			.admin-bar #sidebar-primary,
			.admin-bar .sidebar-toggle {
				top: 46px;
			}
		}


/**
 * Responsive CSS
 * --------------------------------------------------------------------------- */
 
/* === 1st break point === */
 
@media (max-width: 1199px) {
			
			.content {width: 92%;}
			
} /* end @media max-width: 1199px */

/* === 2nd break point === */

@media (max-width: 600px) {

/* Image Alignment */

.alignleft,
.alignright {
	float: none;
	margin: 20px auto;
	}

	/* === Gallery === */
	
		/* .gallery-col-3 is the default one above */
		.gallery-col-4 .gallery-item,
		.gallery-columns-4 .gallery-item,
		.gallery-col-5 .gallery-item,
		.gallery-columns-5 .gallery-item,
		.gallery-col-6 .gallery-item,
		.gallery-columns-6 .gallery-item,
		.gallery-col-7 .gallery-item,
		.gallery-columns-7 .gallery-item,
		.gallery-col-8 .gallery-item,
		.gallery-columns-8 .gallery-item,
		.gallery-col-9 .gallery-item,
		.gallery-columns-9 .gallery-item,
		.gallery-col-10 .gallery-item,
		.gallery-columns-10 .gallery-item,
		.gallery-col-11 .gallery-item,
		.gallery-columns-11 .gallery-item,
		.gallery-col-12 .gallery-item,
		.gallery-columns-12 .gallery-item,
		.gallery-col-13 .gallery-item,
		.gallery-columns-13 .gallery-item,
		.gallery-col-14 .gallery-item,
		.gallery-columns-14 .gallery-item,
		.gallery-col-15 .gallery-item,
		.gallery-columns-15 .gallery-item,
		.gallery-col-16 .gallery-item,
		.gallery-columns-16 .gallery-item,
		.gallery-col-17 .gallery-item,
		.gallery-columns-17 .gallery-item,
		.gallery-col-18 .gallery-item,
		.gallery-columns-18 .gallery-item,
		.gallery-col-19 .gallery-item,
		.gallery-columns-19 .gallery-item,
		.gallery-col-20 .gallery-item,
		.gallery-columns-20 .gallery-item,
		.gallery-col-21 .gallery-item,
		.gallery-columns-21 .gallery-item,
		.gallery-col-22 .gallery-item,
		.gallery-columns-22 .gallery-item,
		.gallery-col-23 .gallery-item,
		.gallery-columns-23 .gallery-item,
		.gallery-col-24 .gallery-item,
		.gallery-columns-24 .gallery-item,
		.gallery-col-25 .gallery-item,
		.gallery-columns-25 .gallery-item,
		.gallery-col-26 .gallery-item,
		.gallery-columns-26 .gallery-item,
		.gallery-col-27 .gallery-item,
		.gallery-columns-27 .gallery-item,
		.gallery-col-28 .gallery-item,
		.gallery-columns-28 .gallery-item,
		.gallery-col-29 .gallery-item,
		.gallery-columns-29 .gallery-item,
		.gallery-col-30 .gallery-item,
		.gallery-columns-30 .gallery-item{ width: 33.3%;}

	/* === Layout === */
		
					/* micro layout grouping */
					.entry-byline,
					.singular-page .entry-header,
					#comments-header {
						border-right: 0;
						padding: 0 0 12px;
						text-align: center;
						width: 100%;
					}
					
						.entry-byline .entry-published,
						.entry-byline .entry-author, /* didn't exist before */
						.entry-byline .comments-link,
						.comments-nav a {
							display: inline-block;
						}
						
						.entry-byline .entry-published,
						.entry-byline .entry-author,
						.comments-nav a:first-child {
							border-right: 1px solid rgba(255,255,255,.1);
							margin-right: 9px;
							padding-right: 9px;
						}
						.entry-byline .post-edit-link {
							margin-left: 9px;
						}
						
						.comments-nav .page-numbers + a {
							border-left: 1px solid rgba(255,255,255,.1);
							margin-left: 9px;
							padding-left: 9px;
						}
						
						.singular-page .entry-header .entry-title {
							font-size: 25px;
							font-style: italic;
							line-height: 36px;
							text-align: center;
							text-transform: none;
						}
					
					.entry-title,
					.featured-media,
					.entry-content,
					.entry-summary,
					.entry-footer,
					.loop-pagination,
					.comment-list,
					.comment-respond,
					.comments-closed {
						width: 100%;
					}
					
					.loop-pagination {text-align: center;}
					
						.entry-title {
							font-size: 25px;
							letter-spacing: 0;
							line-height: 36px;
							text-align: center;
						}
						
/* === Header === */

#header {
	padding: 36px 0 0;
}

	#branding {
		margin: 32px 0 30px;
		padding: 0 15%;
		text-align: center;
		}

		#site-title {
			font-size: 36px;
			line-height: 48px;
		}

/* === Footer === */

	#menu-social,
	.footer-content,
	#menu-social + .footer-content {
		padding: 15px 5%;
		text-align: center;
		width: 100%;
	}
	
				#menu-social li a::after {
					margin: 9px 0 0 0;
				}
		
} /* end @media max-width: 600px */