
/**
 * Basic Resets
 ************************************************/
 
*,
::before,
::after {
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
html, a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, del, dfn, div, dl, dt, dd, em, fieldset, fig, font, form,  h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, layer, legend, li, object, ol, p, param, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, tfoot, thead, tr, th, td, tt, var, u, ul, xmp, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	/*background: transparent;*/
	border: none;
	font-size: 100%;
	font: inherit;
	/*margin: 0;*/
	outline: none;
	/*padding: 0;*/ /* desbest edit */
	text-decoration: none;
	vertical-align: baseline;
	}
	
/* HTML5 defaults */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
	}
	
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	}
	
audio:not([controls]) {display: none;}

::selection { /* Don't combine with other elements. Breaks Firefox. */}